/* --primary-color: #134266;
  --secondary-color: #fce172;
  --accent1-color: #78c5d7;
  --accent2-color: white smoke;
  I added a new color similar to white: #f0eee8
  I am also added black to my color palette*/
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
div {
    max-width: 1600px;
}
#content {
    margin: 0 auto;
}
nav {
    text-align: center;
    background-color: hsl(76, 7%, 42%, .25);
    display: flex;
    justify-content: space-around;
}
nav a {
    color: #78c5d7;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 35px;
    font-family: Poppins, "Avenir Next LT Pro Demi", "Arial Nova";
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
.home-title {
    text-align: center;
    color: whitesmoke;
    font-size: 80px;
}
#hero-msg h4, .button-box, .social {
    text-align: center;
    color: whitesmoke;
}
.social a{
    text-decoration: none;
}
#hero-img {
    width: 100%;
}
#background {
    height: 725px;
    background-color: #134266;
    height: 725px;
    grid-column: 1/11;
    grid-row: 4/9;
}
body {
    background-color: #f0eee8;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: hsl(206, 69%, 24%, .25);
    display: grid;
    grid-template-columns: 150px auto;
}
.home-grid {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(10,1fr);
}
a:hover {
    background-color: #134266;
    text-decoration: underline;
}
.book, .join {
    background-color: #fce172;
    color: #134266;
    text-decoration: none;
    font-family: Poppins, "Avenir Next LT Pro Demi", "Arial Nova";
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: whitesmoke;
}
.msg {
    background-color: #6f7364;
    line-height: 1.5em;
    padding: 35px;
    margin-right: 40px;
    font-family: Poppins, "Avenir Next LT Pro Demi", "Arial Nova";
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #f0eee8;
}
.msg h2 {
    color: whitesmoke;
    font-family: Allura;
    font-size: 2em;
}
.msg p {
    color: whitesmoke;
    font-size: .8em;
    padding-bottom: 15px;
}
h4, footer h3, footer a {
    color: #134266;
    font-family: Poppins, "Avenir Next LT Pro Demi", "Arial Nova";
}
.card-img {
    border: 10px solid #134266;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    width: 100%;
}
.card-img:hover{
    opacity: .6;
    transform: scale(1.1);
}
.rivers-card { 
    margin: 100px 0;
    color: #134266;
    font-family: Poppins, "Avenir Next LT Pro Demi", "Arial Nova";
    grid-column: 2/4;
    grid-row: 2/3;
}
.rapids-card {
    margin: 100px 0;
    color: #134266;
    font-family: Poppins, "Avenir Next LT Pro Demi", "Arial Nova";
    grid-column: 8/10;
    grid-row: 2/3;
}
.camping-card {
    margin: 100px 0;
    color: #134266;
    font-family: Poppins, "Avenir Next LT Pro Demi", "Arial Nova";
    grid-column: 5/7;
    grid-row: 2/3;
}
.home-title {
    font-family: Allura,"Dancing Script", "Arial Nova";
    font-size: 3em;
    margin-top: 10px;
}
footer h3, footer a {
    text-decoration: underline;
    text-align: center;
}
footer a:hover {
    color: whitesmoke; 
}
.logo, .icon {
    width: 80px;
    height: 80px;
    padding: 10px;
    border: none;
}
h2 {
    margin: 0;
    padding: 0rem;
}
#logolink {
    padding-top: 5px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
footer {
    padding: 25px 50px;
    margin-top: 200px;
    background-color: #78c5d7;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mountains {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #f0eee8;
}

/*the following is adjustments for the rivers page*/


.rivers-header {
    background-color: #134266;
 }
#rivers-main {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#background-rivers {
    height: 725px;
    background-color: #134266;
    height: 725px;
    grid-column: 1/11;
    grid-row: 4/9;
}
#banner {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#banner-box {
    grid-column: 1/4;
    grid-row: 1/2;
    z-index: -1;
}
#banner-msg {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 100px;
}

.rivers-title {
    font-family: Allura,"Dancing Script", "Arial Nova";
    font-size: 95px;
    color: black;
}
.rivers-subtitle {
    color: #134266;
    font-size: 35px;
}
.salmon-river p {
    font-family: Poppins, "Avenir Next LT Pro Demi", "Arial Nova";
    width: 45%;
    padding: 35px;
}
.salmon {
    grid-column: 5/10;
    padding: 35px;
    grid-column: 2/3;
    grid-row-start: 2/3;
}
.gray-canyon p {
    font-family: Poppins, "Avenir Next LT Pro Demi", "Arial Nova";
    width: 45%;
    padding: 35px;
}
.gray {
    padding: 35px;
}
.grand-canyon p {
    font-family: Poppins, "Avenir Next LT Pro Demi", "Arial Nova";
    width: 45%;
    padding: 35px;
}  
.grand {
    padding: 35px;
}












/*The following must be after all other css*/
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
        color:#134266
    }
    a:hover {
        background-color: #78c5d7;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 50px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
    header {
        background-color: #134266;
    }
    nav {
        background-color: #6f7364;
    }
}