/* --primary-color: #134266;
  --secondary-color: #fce172;
  --accent1-color: #78c5d7;
  --accent2-color: white;
  I added a new color similar to white: #f0eee8
  I am also added black to my color palette*/
div {max-width: 1600px;
}
#content {
    margin: 0 auto;
}
nav {text-align: center;
    background-color: #fce172;
}
nav a:hover {text-align: center;
}
nav a {color: #134266;
    font-weight: bold;
    text-decoration: none;
}
#hero-msg h1 {text-align: center;
}
#hero-msg h4 {text-align: center;
}
#hero-img {width: 100%;
}
.button-box {text-align: center;
}
main {text-align: center;
}
section {text-align: center;
}
#background {height: 725px;
}
body {background-color: #f0eee8;
}
header {background-color: #134266;
}
a:hover {background-color: #78c5d7;
    text-decoration: underline;
}
.book {background-color: #fce172;
    color: #134266;
    text-decoration: none;
}
.book:hover {background-color: white;
}
.join {background-color: #fce172;
    color: #134266;
    text-decoration: none;
}
.join:hover {background-color: white;
}
#background {background-color: #134266;
    height: 725px;
}
.msg {background-color: #78c5d7;
}
footer {background-color: #78c5d7;
}
.home-title {color: #134266;
}
h4 {color: #134266;
}
.msg h2 {color: #134266;
}
.msg p {color: #134266;
}
footer h3 {color: #134266;
    text-decoration: underline;
}
footer a {color: #134266;
    text-decoration: none;
}
footer a:hover {color: #134266;
}
.rivers-card {color: #134266;
}
.camping-card {color: #134266;
}
.rapids-card {color: #134266;
}
.logo {width: 80px;
}
.icon {width: 80px;
}
.social {text-align: center;
}
