/* These are my siteplan colors
Primary	Secondary	Accent 1	Accent 2
[#020402]	[#57737a]	[#a3b3d1]	[#c2fcf7]
Fonts=Typography
Heading Font: Joan, or "Nuosu SIL", or "Gentium Plus";
Paragraph Font: Roboto, or "Kdam Thmor Pro", or Helvetica;*/
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Gentium+Plus&family=Joan&family=Kdam+Thmor+Pro&family=Nuosu+SIL&family=Roboto&family=Roboto+Slab&display=swap');
#content {
    margin: 0 auto;
    max-width: 1600px;
}
header {
    background-color: #277789;
    display: grid;
    grid-template-columns: 150px auto;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
/*.sticky + .content {
    padding-top: 60px;
  }
*/
nav {
    text-align: center;
    background-color: #277789;
    display: flex;
    justify-content: space-around;
}
nav a {
    color: #d6e7fa;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    padding: 35px;
    font-family: "Kdam Thmor Pro", Joan, "Nuosu SIL", "Gentium Plus";
}
a:hover {
    background-color: #010101;
    color: whitesmoke;
}
.logo, .icon {
    width: 80px;
    height: 80px;
    padding: 10px;
    border: none;
}

/*copied from wwr*/
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h3 {
    text-align: center;
    color: whitesmoke;
    font-size: 28px;
}
#hero-img {
    width: 100%;
}
#hero-msg h1 {
    /*color: #f6d9d9;*/
    color: whitesmoke;
    font-family: "Roboto Slab", Joan, "Nuosu SIL", "Gentium Plus";
    font-size: 3em;
    margin-top: 50px;
    text-align: center;
}

/*.home-title-port is for the word gallery on hero section portfolio page only*/
.home-title-port {
    margin-left: 150px;
    padding-top: 1em;
    text-shadow: 2px 2px 5px white;
}
.elev-pitch h2 {
    text-align: center;
    font-family: "Roboto Slab", Joan, "Nuosu SIL", "Gentium Plus";
}
p {
    font-family: "Roboto slab", "Kdam Thmor Pro", Helvetica;
    font-size: 1.25em;
    text-align: left;
    margin-left: 25px;
    margin-right: 25px;
}
h3 {
    text-align: center;
}
.card-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 20px;
}
.texture, .port-card, .about-card {
    grid-row: 1/2;
}
.port-card {
    grid-column: 1/2;
    align-content: center;
    /*position: relative;*/
}
.about-card {
    grid-column: 2/3;
    align-content: center;
    /*border: 5px;*/
}
.about-card a , .port-card a {
    background-color: transparent;
}
.port-img {
    height: 600px;
    width: 500px;
    border: 10px solid #277789;
    margin: 100px 100px;
    box-shadow: 5px 5px 10px #b3dfeb;
    transition: transform .5s;
}
.port-img:hover{
    opacity: .6;
    transform: scale(1.1);
}
.about-img {
    height: 600px;
    width: 500px;
    border: 10px solid #277789;
    margin: 100px 100px;
    box-shadow: 5px 5px 10px #b3dfeb;
    transition: transform .5s;
}
.about-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.texture {
    grid-column: 1/3;
    width: 100%;
    height: 100%;
}
.port-card h4{
    color: whitesmoke;
    text-align: center;
    font-size: 35px;
}
.port-card, .about-card {
    position: relative;
    text-align: center;
    color: white;
  }
  .bottom-left-gallery {
    position: absolute;
    bottom: 150px;
    left: 150px;
    color: #b3dfeb;
    font-size: 35px;
    font-family: "Roboto slab", "Kdam Thmor Pro", Helvetica;
  }
 .bottom-right-about {
    position: absolute;
    bottom: 150px;
    right: 475px;
    color: #277789;
    font-size: 35px;
    font-family: "Roboto slab", "Kdam Thmor Pro", Helvetica;
  }

/*portfolio page Css*/
.port-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.glyph-background {
    grid-row: 2/3;
    grid-column: 1/3;
    width: 100%;
    height: 65%;
}

.font-poster {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 500px;
    margin-top: 130px;
    margin-left: 100px;
    border: 10px solid #010101;
    box-shadow: 5px 5px 10px grey;
}
.glyph-poster {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 500px;
    border: 10px solid #010101;
    margin-top: 100px;
    margin-left: 100px;
    box-shadow: 5px 5px 10px grey;
}
.gift-poster {
    grid-column: 2/3;
    grid-row: 3/4;
    width: 500px;
    margin-top: -150px;
    margin-left: 100px;
    border: 10px solid #010101;
    box-shadow: 5px 5px 10px grey;
}
.first-text {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 552px;
    width: 100%;
    margin-top: 100px;
}
.first-text h3, .middle-text h3, .last-text h3  {
    font-size: 30px;
    font-family: "Roboto Slab", Joan, "Nuosu SIL", "Gentium Plus";
}
.first-text p, .middle-text p, .last-text p {
   font-size: 22px;
   font-family:  "Roboto Slab", Joan, "Nuosu SIL", "Gentium Plus";
   text-align: left;
}
.middle-text {
    grid-column: 2/3;
    grid-row: 2/3;
    height:320px;
    margin-top: 100px;
}
.last-text {
    grid-column: 1/2;
    grid-row: 3/4;
    height: 500px;
    margin-top: -150px;
}
.gift-behance {
    grid-column: 2/3;
    grid-row: 3/4;
    font-size: 18px;
    margin-top: 505px;
    margin-left: 100px;
    height: 30px;
    width: 300px;
}

/*the following is for the about page*/
.sec-para {
    background-color: #b0d1de;
    height: 375px;
    margin-top: 40px;
    padding: 40px;
}
.top-para {
    margin-top: 30px;
    padding: 30px;
}
.bottom-para {
    margin-top: 30px;
    padding: 30px; 
}
.about-header {
    font-size: 2em;
}
#hero-about {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box-about {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg-about {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg-about h1 {
    color: black;
    font-family: "Roboto Slab", Joan, "Nuosu SIL", "Gentium Plus";
    font-size: 5em;
    margin-top: 200px;
    text-align: center;
}


/*The following is pasted from the form assignment css. Except for the contact sections.*/
/*The following is the styling for the contact us page.*/
.contact-section {
    margin-top: 30px;
    background-color: #b0d1de;
}
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
  }

  /*This is added from the school assignment form section.*/
  #feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;       
}
.moveDown {
    margin-top: 3em;
}
  /*I am adding style to the contact page header to match the other pages.*/

  .cont-header {
    background-color: #134266;
  }
/*footer pasted from wwr*/
footer h3, footer a {
    text-decoration: underline;
    text-align: center;
    color: #d6e7fa;
}
footer {
    padding: 25px 50px;
    margin-top: 50px;
    background-color: #277789;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.social a{
    text-decoration: none;
    padding: 5px;
    background-color: transparent;
}

/*The following must be after all other css*/
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    #hero, #hero-msg {
        margin-top: 0;
    }
    #hero-msg h3 {
        display: none;
    }
    #hero-msg h1 {
        color: #aa7372;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    .card-links {
        display: block;
        height: auto;
    }
    .port-img, .port-img:hover {
        width: auto;
        margin: 16px auto;
    }
    .about-img, .about-img:hover {
        width: auto;
        margin: 16px auto;
    }

    .texture, .glyph-background {
        display: none;
    }
    .port-grid {
        display: block;
        height: auto;
        width: auto;
    }
    .sec-para {
        background-color: white;
        margin: auto;
        margin-top: -50px;
    }
    .top-para {
        margin: auto;
    }
    .bottom-para {
     margin: auto;
     margin-top: 85px;
    }
    .gift-poster, .font-poster, .glyph-poster {
        margin: auto;
    }
    .first-text, .middle-text, .last-text {
        margin: auto;
    }
    .logo {
        height: 120px;
        width: 120px;
    }
    .bottom-left-gallery {
        position: -webkit-sticky;
        bottom: 50px;
        left: 50px;
        color: #b3dfeb;
      }
      .bottom-right-about {
        position: -webkit-sticky;
        bottom: 50px;
        right: 300px;
      }
}






