@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

img {
    border-radius: 15px 15px 0px 0px;
    padding: 0;
    margin: 0;
}
body {
    width: 300px;
    align-items: center;
}

section {
    background-color: whitesmoke;
    text-align: center;
    font-family: "Roboto-slab";
    padding: 0;
    margin: 0;
 }

footer {
    background-color: #3F5B8B;
    width: 300px;
    border-radius: 0px 0px 15px 15px;
}
div {
    grid: display;
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.read {
    grid-column: 1/2;
}
.views {
    grid-column: 2/3;
    padding-left: 10px;
    
}
.comments {
    grid-column: 3/4;
    margin-left: 10px;
}









/*The width of the image is 300px (hint: the card is the width of the image)
background color: #3F5B8B;
Font family: "Roboto Slab"
Text colors: #8F848F, #3F5B8B
One method to get the lines between the columns in the bottom grid is to put a left margin on the middle div and right div*/